# Risk Probabilities

##### Import necessary libraries

In [197]:
from itertools import product
import numpy as np
import pandas as pd
pd.options.display.float_format = '{:.1%}'.format

##### Set up array containing all possible permutations

In [198]:
arr = np.array(list(product([1,2,3,4,5,6], [1,2,3,4,5,6], [1,2,3,4,5,6], [1,2,3,4,5,6], [1,2,3,4,5,6] ))).transpose()

### Soldier 1

Count permutations of defense and attack maxima

In [199]:
defense_maxes = pd.Series(np.max(arr[3:],axis=0)).value_counts().sort_index()
attack_maxes = pd.Series(np.max(arr[:3],axis=0)).value_counts().sort_index()
probability_df = pd.DataFrame(defense_maxes.rename('Defense Probability')/sum(defense_maxes))
probability_df.index.name = 'Highest Roll'
probability_df['Attack Probability'] = attack_maxes/sum(attack_maxes)

In [500]:
probability_df

              Defense Probability  Attack Probability
Highest Roll
1                           2.78%               0.46%
2                           8.33%               3.24%
3                          13.89%               8.80%
4                          19.44%              17.13%
5                          25.00%              28.24%
6                          30.56%              42.13%

##### Count number of defense wins, ties and attack wins for each possible high defense roll

In [415]:
permutations_df = pd.DataFrame(columns = ['Highest Defense Roll', 'Permutations', 'Defense Wins', 'Ties', 'Attack Wins'])
for high_roll in range(1,7):
    row = []
    row.append(high_roll)
    #permutations
    row.append(arr[:,np.where(np.max(arr[3:],axis=0)==high_roll)][:,0,:].shape[1])
    #defense
    row.append(np.sum(arr[:,np.where(np.max(arr[3:],axis=0)==high_roll)][:,0,:][:3].max(axis=0) < high_roll))
    #tie
    row.append(np.sum(arr[:,np.where(np.max(arr[3:],axis=0)==high_roll)][:,0,:][:3].max(axis=0) == high_roll))
    #attack
    row.append(np.sum(arr[:,np.where(np.max(arr[3:],axis=0)==high_roll)][:,0,:][:3].max(axis=0) > high_roll))
    
    permutations_df.loc[-1] = row
    permutations_df.index = permutations_df.index + 1

In [417]:
permutations_df.set_index('Highest Defense Roll').sort_index()

                      Permutations  Defense Wins  Ties  Attack Wins
Highest Defense Roll
1                              216             0     1          215
2                              648             3    21          624
3                             1080            40    95          945
4                             1512           189   259         1064
5                             1944           576   549          819
6                             2376          1375  1001            0

##### Calculate joint probabilities of attack and defense maxima

In [519]:
permutations_all_df = pd.DataFrame(columns = ['Highest Roll', 1,2,3,4,5,6])
for highest_defense_roll in range(1,7):
    row = [highest_defense_roll]
    for highest_attack_roll in range(1,7):
        row.append(arr[:,np.where((np.max(arr[3:],axis=0)==highest_defense_roll) & (np.max(arr[:3],axis=0)==highest_attack_roll))][:,0,:].shape[1])
    permutations_all_df.loc[-1] = row
    permutations_all_df.index = permutations_all_df.index + 1

In [520]:
pd.options.display.float_format = '{:.2%}'.format
permutations_all_df.set_index('Highest Roll').sort_index()/7776

                 1     2     3     4     5      6
Highest Roll
1            0.01% 0.09% 0.24% 0.48% 0.78%  1.17%
2            0.04% 0.27% 0.73% 1.43% 2.35%  3.51%
3            0.06% 0.45% 1.22% 2.38% 3.92%  5.85%
4            0.09% 0.63% 1.71% 3.33% 5.49%  8.19%
5            0.12% 0.81% 2.20% 4.28% 7.06% 10.53%
6            0.14% 0.99% 2.69% 5.23% 8.63% 12.87%

### Soldier 2

##### Count permutations of defense and attack second highest

In [387]:
attack_2nd = pd.Series(np.partition(arr[:3], axis=0,kth=1)[1]).value_counts().sort_index()
defense_2nd = pd.Series(np.partition(arr[3:], axis=0,kth=1)[1]).value_counts().sort_index()

In [521]:
sec_probability_df = pd.DataFrame(defense_2nd.rename('Defense Probability')/sum(defense_2nd))
sec_probability_df.index.name = '2nd Highest Roll'


sec_probability_df['Attack Probability'] = attack_2nd/sum(attack_2nd)
pd.options.display.float_format = '{:.1%}'.format
sec_probability_df

                  Defense Probability  Attack Probability
2nd Highest Roll
1                                2.8%                7.4%
2                                8.3%               18.5%
3                               13.9%               24.1%
4                               19.4%               24.1%
5                               25.0%               18.5%
6                               30.6%                7.4%

##### Count number of defense wins, ties and attack wins for each possible 2nd defense roll

In [471]:
sec_permutations_df = pd.DataFrame(columns = ['2nd Highest Defense Roll', 'Permutations', 'Defense Wins', 'Ties', 'Attack Wins'])

for high_roll in range(1,7):
    row = []
    row.append(high_roll)
    #permutations
    row.append(arr[:,np.where(np.partition(arr[3:], axis=0,kth=-2)[-2]==high_roll)][:,0,:].shape[1])
    #defense
    row.append(np.sum(np.partition(arr[:,np.where(np.partition(arr[3:], axis=0,kth=-2)[-2]==high_roll)][:,0,:][:3], axis=0, kth=-2)[-2] < high_roll))
    #tie
    row.append(np.sum(np.partition(arr[:,np.where(np.partition(arr[3:], axis=0,kth=-2)[-2]==high_roll)][:,0,:][:3], axis=0, kth=-2)[-2] == high_roll))
    #attack
    row.append(np.sum(np.partition(arr[:,np.where(np.partition(arr[3:], axis=0,kth=-2)[-2]==high_roll)][:,0,:][:3], axis=0, kth=-2)[-2] > high_roll))
    sec_permutations_df.loc[-1] = row
    sec_permutations_df.index = sec_permutations_df.index + 1

In [472]:
sec_permutations_df

   2nd Highest Defense Roll  Permutations  Defense Wins  Ties  Attack Wins
5                         1          2376             0   176         2200
4                         2          1944           144   360         1440
3                         3          1512           392   364          756
2                         4          1080           540   260          280
1                         5           648           480   120           48
0                         6           216           200    16            0

##### Calculate joint probabilities of attack and defense second highest

In [512]:
sec_permutations_all_df = pd.DataFrame(columns = ['2nd Highest Roll', 1,2,3,4,5,6])
for highest_defense_roll in range(1,7):
    row = [highest_defense_roll]
    for highest_attack_roll in range(1,7):
        row.append(arr[:,np.where((np.partition(arr[3:], axis=0,kth=-2)[-2]==highest_defense_roll) & (np.partition(arr[:3], axis=0,kth=-2)[-2]==highest_attack_roll))][:,0,:].shape[1])
    sec_permutations_all_df.loc[-1] = row
    sec_permutations_all_df.index = sec_permutations_all_df.index + 1

In [513]:
pd.options.display.float_format = '{:.2%}'.format
sec_permutations_all_df/7776

   2nd Highest Roll     1     2     3     4     5     6
5             0.01% 2.26% 5.66% 7.36% 7.36% 5.66% 2.26%
4             0.03% 1.85% 4.63% 6.02% 6.02% 4.63% 1.85%
3             0.04% 1.44% 3.60% 4.68% 4.68% 3.60% 1.44%
2             0.05% 1.03% 2.57% 3.34% 3.34% 2.57% 1.03%
1             0.06% 0.62% 1.54% 2.01% 2.01% 1.54% 0.62%
0             0.08% 0.21% 0.51% 0.67% 0.67% 0.51% 0.21%

### Both Soldiers Together

##### Define function to check each permutation to determine for both soldiers

In [ ]:
def check_both(result, attack_dice=3):
    """
    Given a result of multiple dice, and a number of attack dice, determine whether the attack will win both soldiers,
    the defense will both soldiers, or each will win a soldier.

    :param result: array of dice results, where the attack dice are declared first
    :param attack_dice: number of dice which represent the attack dice
    :return:
    """
    if np.partition(result[:attack_dice], -1)[-1] > np.partition(result[attack_dice:], -1)[-1] and \
            np.partition(result[:attack_dice], -2)[-2] > np.partition(result[attack_dice:], -2)[-2]:
        return 'attack_both'
    elif np.partition(result[:attack_dice], -1)[-1] > np.partition(result[attack_dice:], -1)[-1] or \
            np.partition(result[:attack_dice], -2)[-2] > np.partition(result[attack_dice:], -2)[-2]:
        return 'one_one'
    else:
        return 'defense_both'

##### Calculate probabilities of attack winning both soldiers, of defense winning both soldiers and of each winning one

In [511]:
# produce array of all possible permutations of 5 dice
arr = np.array(list(product([1, 2, 3, 4, 5, 6], [1, 2, 3, 4, 5, 6], [1, 2, 3, 4, 5, 6], [1, 2, 3, 4, 5, 6],
                            [1, 2, 3, 4, 5, 6]))).transpose()

# calculate and print counts of various result types
df = pd.DataFrame(pd.Series(np.apply_along_axis(check_both, axis=0, arr=arr)).value_counts()/7776)
df.columns = ['Probability']
df

              Probability
attack_both        37.17%
one_one            33.58%
defense_both       29.26%